<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EZ-EV</title>
    <meta name="COMP-2800" content="BCIT COMP-2800 Project" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/admin.css" />
  </head>
  <body>
    <div id="admin-header">
      <button id="back-button" type="button" onclick="location.href='/'">
        back
      </button>
      <h1>User accounts management</h1>
    </div>
    <main>
      <div id="user-list-header" class="user-row">
        <p>User ID</p>
        <p>Name / Email</p>
        <p>Added</p>
        <p>Remove</p>
      </div>
      <div id="users-container"></div>
    </main>
    <nav id="footerPlaceholder"></nav>

    <!-- Javascript scripts -->
    <script src="./js/common_elements.js"></script>
    <script src="./js/admin.js"></script>
  </body>
</html>
