body {
    background: #edf1f5;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
}

#users-container {
    width: clamp(380px, 100%, 650px);
}

.user-row {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    padding: 3px;
}

.even-row {
    background-color: hsl(212, 10%, 90%);
}

.odd-row {
    background-color: hsl(212, 10%, 95%);
}

.user-id-cell,
.user-manage {
    display: flex;
    justify-content: center;
    align-content: center;
}

.user-name,
.user-added-date {
    font-weight: bold;
}