* {
    font-family: Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    float: center;
}

.login {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(73, 32, 112);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: min-content;
    background-color: #d9eff9;
}

#login-button {
    text-decoration: none;
}

body {
    margin: 0;
    background: linear-gradient(-45deg, #d9eff9, #40537e, #1e467a, #3f1997);
    animation: gradient 10s ease infinite;
    background-size: 300% 300%;
}

#logo img {
    display: block;
    width: 240px;
    height: 150px;
    padding-bottom: 5px;
}

input[type=text] {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    color: #545457;
}

input[type=password] {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit] {
    align-items: center;
    background-color: #151788;
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    font-size: 50px;
    width: 200px;
    align-items: center;
    border: none;
}

.guestbutton {
    display: inline;
    background-color: #6f72fd;
    color: white;
    border: solid;
    cursor: pointer;
    width: 147px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 16px;
}

#password {
    align-items: center;
}

#username {
    align-items: center;
}

#sign-up-link {
    margin: 15px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}