main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    float: center;
}

.login {
    display: flex;
    flex-direction: column;
    border-style:solid;
    border-color: rgb(73, 32, 112);
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    background-color: #d9eff9;
}

body {
    margin: 0;
    background: linear-gradient(-45deg, #d9eff9, #40537e, #1e467a, #3f1997);
    animation: gradient 10s  ease infinite;
    background-size: 300% 300%;
    /* background: rgb(0, 47, 48); */
    /* background: linear-gradient(50deg, rgba(0, 47, 48, 1) 0%, rgba(68, 84, 214, 1) 34%, rgba(0, 225, 255, 1) 92%); */
    /* #d9eff9, #40537e */
}

#logo img {
    display: block;
    width: 240px;
    height: 150px;
    padding-bottom: 5px;
}

input[type=text] {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    /* margin-left: auto; */
    margin-right: auto;
    color: #545457;
}

input[type=password] {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    margin-top: auto;
    position:absolute;
    bottom:0;
    width: 100%;
    height: 15px;
}


input[type=submit] {
    align-items: center;
    background-color: #151788;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

.guestbutton {
    background-color: #151788;
    color: white;
    border: none;
    cursor: pointer;
    width: 147px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#password{
    align-items: center;
}
#username {
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}