main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    float: center;
}

.login {
    display: flex;
    flex-direction: column;
    border-style:solid;
    border-color: rgb(73, 32, 112);
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #d9eff9;
}

body {
    margin: 0;
    background: radial-gradient(#d9eff9, #40537e);
    /* background: rgb(0, 47, 48); */
    /* background: linear-gradient(50deg, rgba(0, 47, 48, 1) 0%, rgba(68, 84, 214, 1) 34%, rgba(0, 225, 255, 1) 92%); */
}

#logo img {
    display: block;
    width: 240px;
    height: 150px;
    padding-bottom: 5px;
}

input[type=text] {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 5px;
}

footer {
    text-align: center;
    margin-top: auto;
    position:absolute;
    bottom:0;
    width: 100%;
    height: 15px;
}


input[type=submit] {
    background-color: #151788;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40%;
  }

.guestbutton {
    background-color: #151788;
    color: white;
    border: none;
    cursor: pointer;
    width: 147px;    
    height: 40px;
}