main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    margin: 0;
    background: rgb(0, 47, 48);
    background: linear-gradient(50deg, rgba(0, 47, 48, 1) 0%, rgba(68, 84, 214, 1) 34%, rgba(0, 225, 255, 1) 92%);
}

#logo img {
    display: block;
    width: 240px;
    height: auto;
}

input[type=text] {
    display: flex;
    flex-direction: column;
    width: auto;
}
/* 
footer {
    margin-top: auto;
} */