#toolbar {
    position: absolute;
    z-index: 100;
}

#navbarPlaceholder {
    opacity: 0.65;
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
}


@media only screen and (max-width: 750px) {

    main {
        height: 90%;
    }

    .map {
        /* background-color: lightblue; */
        width: 100%;
        height: 100%;
        margin-top: 1px;
        z-index: 0;
        position: absolute;
        top: 0;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        align-content: center;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.25;
        width: 50%;
        position: absolute;
        bottom: 22px;
    }

    button {
        cursor: pointer;
        font-size: 50px;
        width: 200px;
        align-items: center;
        border: none;
    }
}