@media only screen and (max-width: 750px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100vh;
    }

    button {
        border: none;
    }

    

    .icons {
        display: flex;
        justify-content: space-around;
        align-content: center;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.25;
        width: 50%;
        position: absolute;
        bottom: 22px;
    }

    button {
        cursor: pointer;
        font-size: 50px;
        width: 200px;
        align-items: center;
    }
}

.map {
    background-color: lightblue;
    width: 300px;
    height: 784px;
    padding: 50px;
    margin: 20px;
}