#toolbar {
    position: absolute;
    z-index: 100;
}


@media only screen and (max-width: 750px) {

    main {
        height: 90%;
    }

    .map {
        /* background-color: lightblue; */
        width: 100%;
        height: 100%;
        margin-top: 1px;
        z-index: 1;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        align-content: center;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.25;
        width: 50%;
        position: absolute;
        bottom: 22px;
    }

}