@media only screen and (max-width: 750px) {

    body {
        /* display: flex;
        flex-direction: column;
        justify-content: space-around; */
        /* align-items: center; */
        /* text-align: center; */
        /* height: 100vh; */
    }

    .icons {
        display: flex;
        justify-content: space-around;
        align-content: center;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.25;
        width: 50%;
        position: absolute;
        bottom: 22px;
    }

    button {
        cursor: pointer;
        font-size: 50px;
        width: 200px;
        align-items: center;
        border: none;
    }
}

.map {
    /* background-color: lightblue; */
    width: 100%;
    height: 600px;
    margin-top: 1px;
    /* padding: 50px; */
    /* margin: 10px; */
}