main,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    float: center;
}

* {
    font-family: Helvetica, sans-serif;
}

a {
    margin: 1em;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

body {
    margin: 0;
    /* background: rgb(0, 47, 48); */
    background: linear-gradient(-45deg, #d9eff9, #40537e, #1e467a, #3f1997);
    animation: gradient 10s ease infinite;
    background-size: 300% 300%;
}

.register {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(73, 32, 112);
    justify-content: center;
    width: 350px;
    height: 400px;
    background-color: #d9eff9;
    text-align: center;
    align-items: center;
}

input[type=text] {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: #545457;
    margin-top: 5px;
    margin-bottom: 5px;
}

#gif {
    display: inline-block;
    width: 200px;
    height: 120px;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

#errorMessage {
    font-weight: bolder;
}